<!--  just a proof of concept here where column doesn't care about image size but will fill the space with the image and text and not look odd -->
<div class="container">
	<div class="row rowBrowse" ng-repeat="pin in pins">
	    <div class="item itemBrowse">
	      <div class="well text-center wellBrowse">
					  <img class="card-img-top" src="{{pin.imageurl}}" alt="{{pin.title}}">
					    <h4>{{pin.title}}</h4>
					    <p>{{pin.description}}</p>
					    <a href="#" id="{{pin.uid}}" class="btn btn-primary">PIN THIS AS A THING I AM ITERESTED IN</a>
				</div>
      </div>

    </div>
</div>







