<!--  just a proof of concept here where column doesn't care about image size but will fill the space with the image and text and not look odd -->
<div class="container">
	<div class="row rowBrowse">
	    <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p>Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p>Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p></p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p>Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
      <div class="item itemBrowse">
	      <div class="well text-center wellBrowse"> 
					  <img class="card-img-top" src="..." alt="Card image cap">
					    <h4>Card title</h4>
					    <p></p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
      </div>
    </div>
</div>







