* {
	border-radius: 0 !important;
}


.rowBrowse {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
 -webkit-column-gap:1em;

}

.itemBrowse {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.wellBrowse {
 position:relative;
 display: block;
}

.pinList {
	max-height: 100px;
	max-width: 100px;
}
/*setting max image size in browse pins*/

.pin-image {
    max-width: 200px;
}

.profile-image { 

		max-width: 300px; 
		max-height: 300px;
		border-radius: 100% !important;
}

/*justify browse pin description*/

.pin-description {
    text-align: justify;
}

.delete-board-alert {
	display: none;
}

.newPinAlert {
	display: none;
}

.newBrowsePinAlert {
	display: none;
}

.btn-group {
	display: inline-block;
	margin: 10px;
}

#profile-create-new-board-button {
	margin:10px;
}


